In [151]:
import fitz
import pandas
import os
path=r'C:\Users\LuanNogs\Documents\Leitor_Demonstrativo\ALLDEMONSTRATIVOS\COPEL'
x=pandas.DataFrame()
for filename in os.listdir(path):
    with open(os.path.join(path, filename)) as f:
        # Lê Arquivo
        doc=fitz.open(f)
        # # Lê Excel Rateios
        # beneficiarias_abelor=pandas.read_excel(r'C:\Users\LuanNogs\Documents\Leitor_Demonstrativo\110230434_beneficiarias.xlsx')
        # labels=['BENEFICIÁRIA','CLIENTE','PERCENTUAL','DATA INÍCIO','DATA FIM','SITUAÇÃO']
        # beneficiarias_abelor[labels].loc[(beneficiarias_abelor[labels]['DATA FIM']=='01/01/2024') & (beneficiarias_abelor[labels]['SITUAÇÃO']=='AT') ]
        print(filename)
        # Itera sobre as páginas
        for page in doc:

            UC=page.get_text(option="words",clip=fitz.Rect([14,65,500,100]),delimiters=':')[1][4]
            try:
                demons_0:pandas.DataFrame=page.find_tables().tables[0].to_pandas()
    
                demons_0.drop([0],axis=0,inplace=True)
                demons_0[demons_0.columns.to_list()[1:]]=demons_0[demons_0.columns.to_list()[1:]].astype('float64')
                demons_0.insert(0,column='UC',value=UC)
                x.join(demons_0)
            except:
                print('Erro Demonstrativo {}'.format(f))
            # demons_0.set_index(['UC','Referência'],inplace=True)

Erro Demonstrativo <_io.TextIOWrapper name='C:\\Users\\LuanNogs\\Documents\\Leitor_Demonstrativo\\ALLDEMONSTRATIVOS\\COPEL\\DEMONSTRATIVO GERAÇÃO_AMANDA 75 kW_JUNHO.2023.pdf' mode='r' encoding='cp1252'>

In [152]:
x

Empty DataFrame
Columns: []
Index: []

In [9]:
beneficiarias_abelor=pandas.read_excel(r'C:\Users\LuanNogs\Documents\Leitor_Demonstrativo\110230434_beneficiarias.xlsx')

c:\Users\LuanNogs\Documents\Leitor_Demonstrativo\venv\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [145]:
labels=['BENEFICIÁRIA','CLIENTE','PERCENTUAL','DATA INÍCIO','DATA FIM','SITUAÇÃO']
beneficiarias_abelor[labels]
beneficiarias_abelor=pandas.read_excel(r'C:\Users\LuanNogs\Documents\Leitor_Demonstrativo\110230434_beneficiarias.xlsx')
labels=['BENEFICIÁRIA','CLIENTE','PERCENTUAL','DATA INÍCIO','DATA FIM','SITUAÇÃO']
beneficiarias_abelor[labels].loc[(beneficiarias_abelor[labels]['DATA FIM']=='01/01/2024') & (beneficiarias_abelor[labels]['SITUAÇÃO']=='AT') ]

c:\Users\LuanNogs\Documents\Leitor_Demonstrativo\venv\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,BENEFICIÁRIA,CLIENTE,PERCENTUAL,DATA INÍCIO,DATA FIM,SITUAÇÃO
15,42582229,MAURICIO GAMA SORGENFREI,0.0726,01/01/2024,01/01/2024,AT
16,92694853,ENGELHARDT CIA LTDA,0.6430,01/01/2024,01/01/2024,AT
17,94560277,EL SHADDAI ACADEMIA LTDA,0.1522,01/01/2024,01/01/2024,AT
18,97235237,EL SHADDAI ACADEMIA LTDA,0.0960,01/01/2024,01/01/2024,AT
19,98929704,PETTRES E CREMASCO LTDA,0.0362,01/01/2024,01/01/2024,AT
20,110230434,CONSORCIO DE GERACAO DISTRIBUIDA PLIN ENERGIA,0.0000,01/01/2024,01/01/2024,AT

In [172]:
doc=fitz.open(r'C:\Users\LuanNogs\Documents\Leitor_Demonstrativo\Demonstrativos_COPEL\COPEL\Abelor 75 kW - Salto do Lontra\DEMONSTRATIVO GERAÇÃO_ABELOR 75 kW_JANEIRO.2024.pdf')

beneficiarias_abelor=pandas.read_excel(r'C:\Users\LuanNogs\Documents\Leitor_Demonstrativo\110230434_beneficiarias.xlsx')
labels=['BENEFICIÁRIA','CLIENTE','PERCENTUAL','DATA INÍCIO','DATA FIM','SITUAÇÃO']
beneficiarias_abelor[labels].loc[(beneficiarias_abelor[labels]['DATA FIM']=='01/01/2024') & (beneficiarias_abelor[labels]['SITUAÇÃO']=='AT') ]


page=doc[1]

UC=page.get_text(option="words",clip=fitz.Rect([14,65,500,100]),delimiters=':')[1][4]
x:pandas.DataFrame=page.find_tables().tables[0].to_pandas()
x.drop([0],axis=0,inplace=True)
x[x.columns.to_list()[1:]]=x[x.columns.to_list()[1:]].astype('float64')

# demons_1.insert(0,column='UC',value=UC)
# demons_1.set_index(['UC','Referência'],inplace=True)

c:\Users\LuanNogs\Documents\Leitor_Demonstrativo\venv\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [176]:
len(demons_0.columns)

8

In [179]:
x

,Referência,Saldo Anterior,Col2,Col3,Cred. Receb. Outra UC,Col5,Col6,Energia Injetada,Col8,Col9,...,Col15,Saldo Mes,Col17,Col18,Saldo Transferido Outra UC,Col20,Col21,Saldo Final,Col23,Col24
1,01/2024,0.0,0.0,0.0,5.0,1207.0,0.0,0.0,0.0,0.0,...,0.0,5.0,1207.0,0.0,0.0,0.0,0.0,5.0,1207.0,0.0
2,12/2023,0.0,0.0,2.0,0.0,0.0,526.0,0.0,0.0,0.0,...,528.0,0.0,0.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0
3,11/2023,0.0,0.0,11.0,0.0,0.0,1951.0,0.0,0.0,0.0,...,1960.0,0.0,0.0,-9.0,0.0,0.0,0.0,0.0,0.0,2.0
4,10/2023,0.0,0.0,19.0,0.0,0.0,2203.0,0.0,0.0,0.0,...,2211.0,0.0,0.0,-8.0,0.0,0.0,0.0,0.0,0.0,11.0
5,09/2023,0.0,0.0,112.0,0.0,0.0,1807.0,0.0,0.0,0.0,...,1900.0,0.0,0.0,-93.0,0.0,0.0,0.0,0.0,0.0,19.0
6,08/2023,0.0,0.0,0.0,0.0,0.0,2045.0,0.0,0.0,0.0,...,1933.0,0.0,0.0,112.0,0.0,0.0,0.0,0.0,0.0,112.0
7,07/2023,0.0,0.0,605.0,0.0,0.0,1180.0,0.0,0.0,0.0,...,1785.0,0.0,0.0,-605.0,0.0,0.0,0.0,0.0,0.0,0.0
8,06/2023,0.0,0.0,159.0,0.0,0.0,2237.0,0.0,0.0,0.0,...,1791.0,0.0,0.0,446.0,0.0,0.0,0.0,0.0,0.0,605.0
9,05/2023,0.0,0.0,431.0,0.0,0.0,1881.0,0.0,0.0,0.0,...,2153.0,0.0,0.0,-272.0,0.0,0.0,0.0,0.0,0.0,159.0
10,04/2023,0.0,0.0,0.0,0.0,0.0,2637.0,0.0,0.0,0.0,...,2206.0,0.0,0.0,431.0,0.0,0.0,0.0,0.0,0.0,431.0
11,03/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,02/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,01/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0